* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body,
html {
  height: 100dvh;
}

#root {
  height: 100%;

  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}
